/**
 * Base SCSS
 */
.bg-black {
	background: #000000;
	// color: $w;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.d-block{
	display: block;
}


// Underline
u {
	text-decoration: none;
	position: relative;

	&:before {
		content: "";
		display: inline-block;
		width: 20%;
		position: absolute;
		left: 0.1rem;
		top: 4rem;
		border-bottom: 3px solid $color-accent;
	}

}